In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('concrete.csv', header =None)

In [5]:
df

          0      1      2      3     4       5      6      7      8
0     540.0    0.0    0.0  162.0   2.5  1040.0  676.0   28.0  79.99
1     540.0    0.0    0.0  162.0   2.5  1055.0  676.0   28.0  61.89
2     332.5  142.5    0.0  228.0   0.0   932.0  594.0  270.0  40.27
3     332.5  142.5    0.0  228.0   0.0   932.0  594.0  365.0  41.05
4     198.6  132.4    0.0  192.0   0.0   978.4  825.5  360.0  44.30
...     ...    ...    ...    ...   ...     ...    ...    ...    ...
1025  276.4  116.0   90.3  179.6   8.9   870.1  768.3   28.0  44.28
1026  322.2    0.0  115.6  196.0  10.4   817.9  813.4   28.0  31.18
1027  148.5  139.4  108.6  192.7   6.1   892.4  780.0   28.0  23.70
1028  159.1  186.7    0.0  175.6  11.3   989.6  788.9   28.0  32.77
1029  260.9  100.5   78.3  200.6   8.6   864.5  761.5   28.0  32.40

[1030 rows x 9 columns]